.body{
    text-align: center;
}


.topnav {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    padding-inline-start: 40px;

    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}


.logo{
    text-align: -webkit-center;
    padding-top: 209;
    padding-left: 400;
}
    

}
.ls{
    text-align: center;
    margin: 100;


}
 .buttonleft{
    margin-left:500 ;
    margin-top: 30;
    float: center;
    padding:
} 
.button.innerButton{
    margin-left: 100;
}
.button span{
    position: relative;
    margin-left: 0;
    padding-left: 10;
}
.button span:active{
    top: 1px;
}